<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <center>
      <div class="row">
        <div class="col-md-12">
          <h1>{{sp}}</h1>
        </div>
      </div>
    </center>

    <div class="row">
      <div class="col-md-4"></div>

      <div class="col-md-4">
        <div class="form-group">
          <label>Tên Sản Phẩm</label>
          <input type="text" ng-model="inputValue.name" class="form-control" />
          <small style="color: red" ng-if="KTDuLieu.name==true"
            >Chưa nhập dữ liệu</small
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Giá</label>
          <input
            type="number"
            ng-model="inputValue.price"
            class="form-control"
          />
          <small style="color: red" ng-if="KTDuLieu.price==true"
            >Chưa nhập dữ liệu và giá >100</small
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="form-group">
          <label>Loại Sản Phẩm</label>
          <input
            type="text"
            ng-model="inputValue.cateoryName"
            class="form-control"
          />
          <small style="color: red" ng-if="KTDuLieu.cateoryName==true"
            >Chưa nhập dữ liệu</small
          >
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button type="submit" class="btn btn-primary" ng-click="onThem()">
          Thêm
        </button>
      </div>
      <div class="col-md-4"></div>
    </div>
    <br />
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Tên Sản Phẩm</th>
              <th scope="col">Giá</th>
              <th scope="col">Loại Sản Phẩm</th>
              <th scope="col">Chức Năng</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="if in DSSanPham">
              <th scope="row">{{if.id}}</th>
              <td>{{if.name}}</td>
              <td>{{if.price}}</td>
              <td>{{if.cateoryName}}</td>
              <td>
                <button
                  type="submit"
                  class="btn btn-primary"
                  ng-click="onSua(if.id)"
                >
                  Sửa
                </button>
                <button
                  type="submit"
                  class="btn btn-primary"
                  ng-click="onXoa(if.id)"
                >
                  Xoá
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-3"></div>
    </div>
  </body>
</html>
