<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <center>
      <h1>Khách Hàng</h1>
    </center>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form>
      <div class="form-group">
        <label>ID</label>
        <input
          type="text"
          class="form-control"
          placeholder=""
          ng-model="inputValue.id"
        />
      </div>
      <div class="form-group">
        <label>Tên Khách Hàng</label>
        <input type="text" class="form-control" ng-model="inputValue.ten" />
        <p style="color: red" ng-if="KTDuLieu.ten == true">Bạn chưa nhập tên</p>
      </div>
      <div class="form-group">
        <label>Năm Sinh</label>
        <input
          type="number"
          class="form-control"
          ng-model="inputValue.namsinh"
        />
        <p style="color: red" ng-if="KTDuLieu.namsinh == true">
          Bạn chưa nhập năm sinh
        </p>
        <p style="color: red" ng-if="KTDuLieu.namsinhCheck == true">
          Năm sinh phải lớn hơn 0
        </p>
      </div>
      <div class="form-group">
        <label>Địa Chỉ</label>
        <input type="text" class="form-control" ng-model="inputValue.diachi" />
        <p style="color: red" ng-if="KTDuLieu.diachi == true">
          Bạn chưa nhập địa chỉ
        </p>
      </div>
      <button type="submit" class="btn btn-primary" ng-click="onSubmit()">
        Đăng Ký
      </button>
    </form>
  </div>
  <div class="col-md-2"></div>
</div>
<br />
<br />
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tên</th>
          <th scope="col">Năm Sinh</th>
          <th scope="col">Địa Chỉ</th>
          <th scope="col">Tuỳ Chọn</th>
        </tr>
      </thead>
      <tbody ng-repeat="if in DSKhachHang">
        <tr>
          <th scope="row">{{if.id}}</th>
          <td>{{if.ten}}</td>
          <td>{{if.namsinh}}</td>
          <td>{{if.diachi}}</td>
          <td>
            <button
              type="submit"
              class="btn btn-primary"
              ng-click="onSua(if.id)"
            >
              Sửa
            </button>

            <button
              type="submit"
              class="btn btn-primary"
              ng-click="onXoa(if.id)"
            >
              Xoá
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
