
  <body>
    <div class="container login-form">
      <div class="row mt-4 justify-content-center form-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="offest-md-4">
                <h1 class="text-center mt-4 mb-4 fw-bolder">{{dk}}</h1>
                <form class="form-login">
                  <div class="form-outline mb-4">
                    <input
                      type="Họ và Tên"
                      id="form2Example1"
                      class="form-control"
                      placeholder="Họ Và Tên*"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="Điện Thoại"
                      id="form2Example1"
                      class="form-control"
                      placeholder="Điện Thoại*"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example1"
                      class="form-control"
                      placeholder="Email*"
                    />
                  </div>

                  <div class="form-outline mb-4">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Chuyên Ngành Học*</option>
                      <option value="1">Ưng dụng phần mềm</option>
                      <option value="2">Marketting</option>
                      <option value="3">Tự Động hóa</option>
                      <option value="4">Cơ Khí</option>
                      <option value="5">Công nghệ điện Tử</option>
                      <option value="6">An Toàn thông tin</option>
                    </select>
                  </div>
                  <div class="form-outline mb-4">
                    <select
                      class="form-select"
                      aria-label="Default select example"
                    >
                      <option selected>Địa điểm học*</option>
                      <option value="1">Hà Nội</option>
                      <option value="2">Cần Thơ</option>
                      <option value="3">Hải Phòng</option>
                      <option value="4">Thành Phố HCM</option>
                      <option value="5">9+...</option>
                    </select>
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="Link Facebook của bạn*"
                      id="form2Example1"
                      class="form-control"
                      placeholder="Link Facebook của bạn*"
                    />
                  </div>
                  <div class="">
                    <button class="col-12 btn btn-primary btn-block mb-4">
                      Đăng Ký
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

  </body>
</html>