<section id="about" class="about mt-5">
  <div class="container-fluid">
    <h2 class="h1-responsive font-weight-bold text-center my-2">{{title}}</h2>
    <div class="row pt-5 pb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="content">
          <h6>
            Giới thiệu Trường Cao đẳng FPT Polytechnic Trường Cao đẳng FPT
            Polytechnic được thực hiện đào tạo và cấp bằng Cao đẳng nghề theo
            Quyết định của Tổng cục dạy nghề bắt đầu từ ngày 01/07/2010. Trường
            hướng tới mục tiêu cung cấp kỹ năng nghề nghiệp chất lượng cao cho
            người học, đảm bảo được tính cạnh tranh trong môi trường phát triển
            ngày càng cao. Với nhận định nền kinh tế Việt Nam đang phát triển
            mạnh mẽ trong đó có sự đóng góp to lớn từ trên 500.000 doanh nghiệp
            vừa và nhỏ quy mô từ 10 đến 200 nhân viên, FPT Polytechnic nhắm tới
            mục tiêu cung cấp nguồn nhân lực được đào tạo tốt cho nhu cầu phát
            triển của không chỉ các doanh nghiệp lớn mà còn cho các doanh nghiệp
            này. Hướng tới người học chung trên toàn Việt Nam, chương trình cao
            đẳng của trường được thiết kế dựa trên những kỹ năng thiết yếu nhất
            để làm việc và tương thích với các hệ thống đào tạo tiên tiến trên
            thế giới.
          </h6>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
  <div class="container-fluid">
    <h2 class="h1-responsive font-weight-bold text-center my-2">{{ct}}</h2>

    <div class="row pt-5 pb-5">
      <div class="col-lg-1"></div>
      <div class="col-lg-10">
        <div class="content">
          <h3><span style="color: #d44700">CAO ĐẲNG FPT POLYTECHNIC</span></h3>
          <h6>
            Cao đẳng FPT Polytechnic là trường đào tạo trong lòng doanh nghiệp
            với đa ngành nghề, đa lĩnh vực. FPT Polytechnic ra đời với mong muốn
            đem đến cho người học những giá trị đào tạo thực tế đúng với triết
            lý “Thực học – Thực nghiệp”. Các chương trình đào tạo tại Cao đẳng
            FPT Polytechnic được thiết kế theo chuẩn quốc tế như: tiêu chuẩn
            nghề ASEAN, tiêu chuẩn nghề Du lịch Việt Nam VTOS. Nhà trường áp
            dụng phương pháp học Project-based Learning (Học tập qua dự án thật)
            và phương pháp giảng dạy Blended Learning (Học tập tích hợp), cung
            cấp cho sinh viên tới 70% thời gian là thực hành, trải nghiệm môi
            trường học sát với thực tế. Thông qua các dự án với doanh nghiệp,
            các dự án theo nhóm, sinh viên có cơ hội trao đổi, gặp gỡ với những
            chuyên gia trong nghề ngay từ khi còn ngồi trên ghế nhà trường. Bên
            cạnh những kiến thức nền tảng, sinh viên còn được trang bị những kỹ
            năng thiết yếu của thế kỷ 21 như: Kỹ năng mềm, tin học, ngoại ngữ,
            làm việc nhóm, kỹ năng thiết trình…
          </h6>
          <br />
          <p style="text-align: center">
            <iframe
              src="//www.youtube.com/embed/VrBq3q65NW8"
              width="560"
              height="314"
              allowfullscreen="allowfullscreen"
            ></iframe>
          </p>
          <h6>
            Cao đẳng FPT Polytechnic hiện có mối quan hệ hợp tác với hơn 500
            doanh nghiệp trên cả nước, sẵn sàng giới thiệu và hỗ trợ sinh viên
            tham gia thực tập và làm việc ngay từ khi còn đi học. Sinh viên theo
            học tại trường được tham gia các hoạt động ngoại khoá, sự kiện tầm
            cỡ, gỡ những ca sĩ hàng đầu như Sơn Tùng M-TP, Đen, Hoàng Thuỳ Linh,
            Trúc Nhân, Đức Phúc, DaLAB, AMEE, Soobin Hoàng Sơn, Đức Phúc – Hoà
            Minzy – Erik, Thuỳ Chi, Bích Phương.
          </h6>
          <h6>
            Thời gian đào tạo ngắn, 2 năm theo học tại trường tương đường với 2
            năm kinh nghiệm làm việc thực tế với các dự án. Theo thống kê của bộ
            phận Quan hệ doanh nghiệp, 97,7% sinh viên Cao đẳng FPT Polytechnic
            có việc làm trong vòng 1 năm sau khi tốt nghiệp với mức lương cạnh
            tranh.
          </h6>
          <p style="text-align: center">
            <em
              ><span style="color: #d44700"
                ><span style="color: #000000"
                  ><img
                    decoding="async"
                    class="alignnone wp-image-206545 entered lazyloaded"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg"
                    alt=""
                    width="1000"
                    height="563"
                    data-lazy-srcset="https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg 1920w, https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-314x177.jpg 314w, https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-500x281.jpg 500w, https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-768x432.jpg 768w, https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-1536x864.jpg 1536w"
                    data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"
                    data-lazy-src="https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg"
                    data-ll-status="loaded"
                    sizes="(max-width: 1000px) 100vw, 1000px"
                    srcset="
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg          1920w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-314x177.jpg   314w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-500x281.jpg   500w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-768x432.jpg   768w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-1536x864.jpg 1536w
                    "
                  /><noscript
                    ><img
                      decoding="async"
                      class="alignnone wp-image-206545"
                      src="https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg"
                      alt=""
                      width="1000"
                      height="563"
                      srcset="
                        https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic.jpg          1920w,
                        https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-314x177.jpg   314w,
                        https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-500x281.jpg   500w,
                        https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-768x432.jpg   768w,
                        https://caodang.fpt.edu.vn/wp-content/uploads/Cac-co-so-dao-tao-fpt-polytechnic-1536x864.jpg 1536w
                      "
                      sizes="(max-width: 1000px) 100vw, 1000px" /></noscript
                  ><br />
                  Cao đẳng FPT Polytechnic đang có mặt tại 11 tỉnh/thành phố
                  trên cả nước.</span
                ></span
              ></em
            >
          </p>
          <h3>
            <span style="color: #d44700">HỆ ĐÀO TẠO LIÊN KẾT QUỐC TẾ</span>
          </h3>
          <h2>
            <a
              href="https://btec.edu.vn/cao-dang-anh-quoc-btec-fpt/"
              target="_blank"
              rel="noopener noreferrer"
              >CAO ĐẲNG ANH QUỐC BTEC FPT</a
            >
          </h2>
          <div class="entry-content">
            <h6>
              Cao đẳng Anh Quốc BTEC FPT được thành lập trên cơ sở liên kết giữa
              Tổ chức giáo dục FPT Education và Tổ chức giáo dục và khảo thí
              Pearson – Vương Quốc Anh, được công nhận là trường đào tạo chính
              thức chương trình BTEC HND tại Việt Nam.
            </h6>
            <h6>
              BTEC FPT hướng đến triển khai chương trình nghề nghiệp bậc cao
              đẳng chuẩn Anh Quốc, đồng thời là chương trình cầu nối với chi phí
              thấp đến các trường đại học hàng đầu tại Anh, Mỹ, Úc, Singapore,
              Nhật Bản… cũng như các trường đại học tại Việt Nam; Đào tạo nguồn
              nhân lực chất lượng cao các chuyên ngành Công nghệ thông tin, Quản
              trị kinh doanh, Thiết kế đồ họa và các khối ngành khác cho giai
              đoạn hội nhập toàn cầu.
            </h6>
            <h6>
              Là chương trình đào tạo liên kết với Anh Quốc, Cao đẳng Anh Quốc
              BTEC FPT mang sứ mệnh là cầu nối cho sinh viên Việt Nam được tiếp
              cận với chương trình đào tạo quốc tế, nền giáo dục tiến bộ và đẳng
              cấp trên thế giới.&nbsp; Đào tạo chương trình chuẩn quốc tế. Đào
              tạo toàn diện, đặc biệt chú trọng kỹ năng ngoại ngữ và phát triển
              kỹ năng nghề nghiệp, đưa công nghệ thông minh, đặc biệt là trí tuệ
              nhân tạo (AI) và các thành tựu khoa học vào giảng dạy.
            </h6>
            <h2>
              <a
                href="https://melbourne.fpt.edu.vn/melbourne-polytechnic/"
                target="_blank"
                rel="noopener noreferrer"
                >MELBOURNE POLYTECHNIC</a
              >
            </h2>
            <h6>
              Năm 2022, Melbourne Polytechnic (Australia) chính thức ký kết hợp
              tác đào tạo với Tổ chức Giáo dục FPT (FPT Education – FPT
              Polytechnic), thành lập Melbourne Polytechnic tại Việt Nam. Theo
              đó, học sinh khi trở thành sinh viên của Melbourne Polytechnic
              Việt Nam sẽ được đào tạo với chương trình chuẩn Úc, 100% học tập
              trong nước và sau khi tốt nghiệp, sinh viên sẽ được nhận bằng Cao
              đẳng do Melbourne Polytechnic Úc cấp. Đây là một trong những ưu
              điểm dành cho sinh viên Việt Nam, mở ra cho sinh viên cơ hội việc
              làm trong môi trường chuyên nghiệp, được tiếp xúc và làm việc
              trong các doanh nghiệp đa quốc gia hoặc các tập đoàn lớn.
            </h6>
            <h6>
              Chương trình đào tạo của Melbourne Polytechnic Việt Nam sẽ có 2
              chuyên ngành chính là: Marketing – Truyền thông và Thiết kế đồ họa
              – Sáng tạo sản phẩm.
            </h6>
            <h2>
              <center>
                <img
                  decoding="async"
                  class="wp-image-183102 aligncenter entered lazyloaded"
                  src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png"
                  alt=""
                  width="1000"
                  height="558"
                  data-lazy-srcset="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png 2812w, https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-314x175.png 314w, https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-500x279.png 500w, https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-768x428.png 768w, https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-1536x856.png 1536w, https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-2048x1142.png 2048w"
                  data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"
                  data-lazy-src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png"
                  data-ll-status="loaded"
                  sizes="(max-width: 1000px) 100vw, 1000px"
                  srcset="
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png           2812w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-314x175.png    314w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-500x279.png    500w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-768x428.png    768w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-1536x856.png  1536w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-2048x1142.png 2048w
                  "
                /><noscript
                  ><img
                    decoding="async"
                    class="wp-image-183102 aligncenter"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png"
                    alt=""
                    width="1000"
                    height="558"
                    srcset="
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte.png           2812w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-314x175.png    314w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-500x279.png    500w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-768x428.png    768w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-1536x856.png  1536w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/FPT-Polytechnic-lienketquocte-2048x1142.png 2048w
                    "
                    sizes="(max-width: 1000px) 100vw, 1000px"
                /></noscript>
              </center>
            </h2>
            <h3><span style="color: #d44700">PHỔ THÔNG CAO ĐẲNG</span></h3>
            <h6>
              Phổ thông Cao đẳng – FPT Polytechnic (PTCĐ FPT) là tên chương
              trình đào tạo nghề nghiệp của Trường Cao đẳng FPT Polytechnic, với
              đối tượng tuyển sinh là học sinh tốt nghiệp trung học cơ sở có nhu
              cầu học nghề sớm, theo chủ trương phân luồng học sinh sau trung
              học cơ sở được cụ thể hóa trong đề án Giáo dục hướng nghiệp và
              định hướng phân luồng học sinh trong giáo dục phổ thông giai đoạn
              2018-2025 được Thủ tướng phê duyệt theo quyết định số 522/QĐ-TTg.
            </h6>
            <h6>
              Học sinh tốt nghiệp trung học cơ sở khi được tuyển sinh, ngoài học
              các môn chuyên ngành sẽ được học 4 môn văn hóa phổ thông theo
              khung kiến thức quy định trong thông tư 16/2010/TT-BGDĐT của Bộ
              Giáo dục Đào tạo. Sau khi tốt nghiệp hệ trung cấp, học sinh sẽ học
              chuyển tiếp lên cao đẳng tuân thủ Thông tư số 27/2017/TT-BLĐTBXH
              của Bộ trưởng Bộ Lao động-Thương binh và Xã hội quy định đào tạo
              liên thông giữa các trình độ trong giáo dục nghề nghiệp.
            </h6>
            <h6>
              Phổ thông Cao đẳng FPT Polytechnic chính thức thành lập từ năm
              2019 với cơ sở đầu tiên tại Hà Nội. Chỉ sau 4 năm, số lượng cơ sở
              tăng lên con số may mắn 13, đặt tại 12 tỉnh thành trên toàn quốc.
            </h6>
            <h6>
              <center>
                <img
                  decoding="async"
                  class="wp-image-183101 aligncenter entered lazyloaded"
                  alt=""
                  width="1000"
                  height="563"
                  data-lazy-srcset="https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png 1920w, https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-314x177.png 314w, https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-500x281.png 500w, https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-768x432.png 768w, https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-1536x864.png 1536w"
                  data-lazy-sizes="(max-width: 1000px) 100vw, 1000px"
                  data-lazy-src="https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png"
                  src="https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png"
                  data-ll-status="loaded"
                  sizes="(max-width: 1000px) 100vw, 1000px"
                  srcset="
                    https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png          1920w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-314x177.png   314w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-500x281.png   500w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-768x432.png   768w,
                    https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-1536x864.png 1536w
                  "
                /><noscript
                  ><img
                    decoding="async"
                    class="wp-image-183101 aligncenter"
                    src="https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png"
                    alt=""
                    width="1000"
                    height="563"
                    srcset="
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3.png          1920w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-314x177.png   314w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-500x281.png   500w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-768x432.png   768w,
                      https://caodang.fpt.edu.vn/wp-content/uploads/Cao-đẳng-FPT-Polytechnic-Cấu-trúc3-1536x864.png 1536w
                    "
                    sizes="(max-width: 1000px) 100vw, 1000px"
                /></noscript>
              </center>
            </h6>
            <div>
              <div id="fb-root" class="fb_reset">
                <div
                  style="
                    position: absolute;
                    top: -10000px;
                    width: 0px;
                    height: 0px;
                  "
                >
                  <div></div>
                </div>
              </div>
              <script
                async=""
                defer=""
                crossorigin="anonymous"
                src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&amp;version=v9.0&amp;appId=625960694652075&amp;autoLogAppEvents=1"
              ></script>
              <a
                target="_blank"
                href="https://www.facebook.com/sharer/sharer.php?u=https://caodang.fpt.edu.vn/gioi-thieu-truong-cao-dang-fpt-polytechnic&amp;src=sdkpreparse"
                class="fb-xfbml-parse-ignore fpt-share-fb"
                ><i class="fa fa-facebook"></i>Chia sẻ
                <span class="count-share">1</span></a
              >

              <div
                class="fb-like fb_iframe_widget"
                data-href="https://caodang.fpt.edu.vn/gioi-thieu-truong-cao-dang-fpt-polytechnic"
                data-layout="button_count"
                data-action="like"
                data-size="small"
                data-show-faces="true"
                data-share="false"
                fb-xfbml-state="rendered"
                fb-iframe-plugin-query="action=like&amp;app_id=625960694652075&amp;container_width=0&amp;href=https%3A%2F%2Fcaodang.fpt.edu.vn%2Fgioi-thieu-truong-cao-dang-fpt-polytechnic&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small"
              >
                <span
                  style="
                    vertical-align: top;
                    width: 0px;
                    height: 0px;
                    overflow: hidden;
                  "
                  ><iframe
                    name="f3b0120a558c8a8"
                    width="1000px"
                    height="1000px"
                    data-testid="fb:like Facebook Social Plugin"
                    title="fb:like Facebook Social Plugin"
                    frameborder="0"
                    allowtransparency="true"
                    allowfullscreen="true"
                    scrolling="no"
                    allow="encrypted-media"
                    src="https://www.facebook.com/v9.0/plugins/like.php?action=like&amp;app_id=625960694652075&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Dfaf3960e9b0e64%26domain%3Dcaodang.fpt.edu.vn%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fcaodang.fpt.edu.vn%252Ff2ee0d1c0acda58%26relation%3Dparent.parent&amp;container_width=0&amp;href=https%3A%2F%2Fcaodang.fpt.edu.vn%2Fgioi-thieu-truong-cao-dang-fpt-polytechnic&amp;layout=button_count&amp;locale=vi_VN&amp;sdk=joey&amp;share=false&amp;show_faces=true&amp;size=small"
                    style="
                      border: none;
                      visibility: visible;
                      width: 0px;
                      height: 0px;
                    "
                  ></iframe
                ></span>
              </div>
            </div>
            <style>
              .fb-xfbml-parse-ignore.fpt-share-fb {
                height: 20px;
                display: block;
                line-height: 20px;
                text-decoration: none;
                color: #fff !important;
                float: left;
                border-radius: 4px;
                font-size: 12px;
                font-weight: bold;
                overflow: hidden;
                position: relative;
                background: #4267b2;
                margin: 2px 6px 0 0;
              }
              .fb-xfbml-parse-ignore.fpt-share-fb i {
                padding: 0 8px;
              }
              .fb-xfbml-parse-ignore.fpt-share-fb span {
                font-weight: 500;
                padding-right: 10px;
                display: inline-block;
              }
            </style>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
    </div>
  </div>
</section>
