<body>
  <div class="container-fluid">
    <div class="container border" style="background-color: wheat">
      <section>
        <div class="container mb-5">
          <section class="mb-4">
            <h2 class="h1-responsive font-weight-bold text-center my-4">
              {{lienhe}}
            </h2>
            <p class="text-center w-responsive mx-auto mb-5">
              Hãy để chúng tôi giải đáp thắc mắc của bạn
            </p>

            <div class="row">
              <div class="col-md-6 mb-md-0 mb-5">
                <form
                  id="contact-form"
                  name="contact-form"
                  action="mail.php"
                  method="POST"
                >
                  <div class="row">
                    <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label for="name" class="">Họ và tên</label>
                        <input
                          type="text"
                          id="name"
                          name="name"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="md-form mb-0">
                        <label for="email" class="">Email</label>
                        <input
                          type="text"
                          id="email"
                          name="email"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="md-form mb-0">
                        <label for="subject" class="">Tiêu đề</label>
                        <input
                          type="text"
                          id="subject"
                          name="subject"
                          class="form-control"
                        />
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                      <div class="md-form">
                        <label for="message">Nội dung</label>
                        <textarea
                          type="text"
                          id="message"
                          name="message"
                          rows="2"
                          class="form-control md-textarea"
                        ></textarea>
                      </div>
                    </div>
                  </div>
                  <!--Grid row-->
                </form>
                <br />
                <div class="text-center text-md-left">
                  <a
                    class="btn btn-primary"
                    onclick="document.getElementById('contact-form').submit();"
                    >Gửi Phiếu</a
                  >
                </div>
                <div class="status"></div>
              </div>
              <div class="col-md-6 mb-md-0 mb-5">
                <div class="gmap_canvas">
                  <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3617.190794087335!2d105.74459841485445!3d21.03812778599324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x313454b991d80fd5%3A0x53cefc99d6b0bf6f!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e1!3m2!1svi!2sus!4v1675753193894!5m2!1svi!2sus"
                    width="600"
                    height="450"
                    style="border: 0"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"
                  ></iframe>
                  <a href="https://2yu.co">2yu</a>
                  <br />
                  <style>
                    .mapouter {
                      position: relative;
                      text-align: right;
                      height: 401px;
                      width: 505px;
                    }
                  </style>
                  <a href="https://embedgooglemap.2yu.co"></a>
                  <style>
                    .gmap_canvas {
                      overflow: hidden;
                      background: none !important;
                      height: 401px;
                      width: 505px;
                    }
                  </style>
                </div>
              </div>
            </div>
          </section>
          <!--Section: Contact v.2-->
        </div>
      </section>
    </div>
  </div>
</body>
